body {
	background-color: white;
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: 'Poiret One', cursive;
}

/*.navbar {
	margin-bottom: 0px;
}*/


/*css settings for jumbotron for laptops/desktops/tablets*/

.pictureTag {
	font-weight: bold;
}

.navbar {
	font-family: 'Cinzel', serif;
	background: white;
	border: none;

}

.navbar a {
	color: green !important;
	font-weight: bold;
}

.navbar-nav{
	float: none;
	text-align: center;
}


.navbar-nav li {
	display: inline-block;
	float: none;
}

.jumbotron {
	height: 100vh;
	width: 100%;
	text-align: center;
	padding-top: 20%;
	/*margin-bottom: -1.4%;*/
	background-color: #265e20;
	background-position: center;
	color: white;
	border: none;
}

.element {
	font-size: 28px;
}

.introduction {
	height: 100vh;
	width: 100%;
	text-align: center;
	/*background-color: #efecea;*/
	margin-top: -2.0%;
	font-family: 'ABeeZee', sans-serif;
	padding-top: 2%;
	font-size: 20px;
}

.introduction h2 {
	padding-top: 20px;
}


/*row for project is padded using row1 class and not introduction*/
.row1 {
	padding-top: 11%;
	margin: 0 auto;
}


.imageForIntroduction {
	height: 150px;
	width: 150px;
}

.imageForIntroductions {
	height: 150px;
	width: 200px;
}

.contactimgs {
	height: 50px;
	width: 50px;
	margin-right: 30px;
	margin-left: 60px;
}


.projects {
	height: 105vh;
	background-color: #3e4b60;
	color: white;
	padding-top: 10%;
	text-align: center;
	padding-top: 5%;
	/*padding-top: 0.1% */
}

#projects p {
	font-size: 20px;
}

#projects a {
	color: #40a837;
	text-decoration: underline;
}

.skills {
	height: 188vh;
	background-color: #efecea;
	text-align: center;
	/*padding-top: 15%;*/
}

.eventspics1 {
	position: relative;
	margin-left: -210px;
	height: 400px;
	width: 127%;;
}

.textEvent {
	margin: 0 !important;
	padding-right: -100px;
	padding-top: 2%;
	font-size: 20px;
}

.eventspics2 {
	width: 100%;
	height: 400px;
}

.textEvent2{
	padding-top: 6%;
	font-size: 20px;
}

.contactInfo {
	height: 100vh;
	background-color: #265e20;
	color: white;
	text-align: center;
	/*padding-top: 0.1px;*/
}

.contactInfo img {
	height: 100px;
	width: 100px;
}

.row2 {
	padding-top: 6%;
	margin: 0 auto;
}




.footer {
	text-align: center;
	width: 100%;
	background-color: #d5e0f2;
	font-family: 'Libre Barcode 39 Text', cursive;
	font-size: 40px;
}

#copyrightsign {
	font-family: arial;
}

@media (max-width: 767px) {


   .jumbotron {
   		padding-top: 50%;
   		/*margin-bottom: -5%*/;
   }

   .introduction {
   		height: 200%;
   		padding-bottom: 15px;
   		margin-top: -10%;
   		padding-top: 10%;
   }

   .middleAttribute {
   		margin-top: 20%;
   		margin-bottom: 20%;
   }

   .projects {
   		padding-top: 10%;
   		height: 150%;
   }

   .skills {
		height: 300%;
   		padding-top: 10%;
   }

   .contactInfo {
   		height: 100vh;
   }

   .contactInfo img{
   		margin-top: 20px;
   }

   .navbar-nav{
	float: none;
	text-align: center;
	}

	.navbar-nav li {
	display: inline;
	float: none;
}
	.image1234 {
		height: 100px;
		width: 100px;
	}
}
